# Required for TrackerClient
YATRACKER_TOKEN=y0__xD09bKiqveAAhik9Tsgk-bptBWhTNUdJM6GM7V9jQPCmWTGq-NKPQ
YATRACKER_ORG_ID=6e2a4b284e5b4f87aa0f1d0d1c5beae9

# Optional overrides
# YATRACKER_CLOUD_ORG_ID=your_cloud_org_id
# YATRACKER_API_URL=https://api.tracker.yandex.net/v3

